html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.login-background {
    background-color:#efefef;
}
@media (min-width: 600px) {
    .login-background {
        min-height: 100%;
    }
}
.login-background h2.md-title {
    margin-top: -60px;
    margin-bottom: 40px;
    color: white;
}
/* Toolbar area */


md-toolbar {
    transition: background .15s;
}
.md-toolbar-tools md-switch {
    margin-right: 0;
}
.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom>*:last-child {
    opacity: 0.8;
}
.capitalize {
    text-transform: capitalize;
}
md-list-item > .md-avatar,
md-list-item .md-list-item-inner > .md-avatar {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 18px;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin: 0;
}
md-list .md-button.selected {
    color: #03a9f4;
}
md-list .time {
    text-align: end;
}
