html, body {
  font-family: 'Roboto', sans-serif;
  height:100%;
  margin: 0px;
  padding: 0px;
}
.hidden {
    visibility: hidden;
}
.login-background,
.about-background {
    background-color:#efefef;
}
.login-background {
    min-height: 100%;
}
.about-background h2.md-title,
.login-background h2.md-title {
    margin-top: -60px;
    margin-bottom: 40px;
    color: white;
}
md-toolbar .md-button {
    padding: 0;
    margin: 0;
    min-width: initial;
    min-height: initial;
    line-height: initial;
}
.last-updated {
    font-size: small;
    text-align: center;
    opacity: 0.8;
}
@keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}
md-icon.update-button-icon {
    transform: scaleX(-1);
}
md-icon.update-button-icon.spin>svg {
    animation: spin 1.5s infinite 0s linear;
}

/* Toolbar area */
md-toolbar {
    transition: background .15s;
}
md-list-item>p:first-of-type {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.md-toolbar-tools md-switch {
    margin-right: 0;
}
.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom .desc {
    opacity: 0.8;
}
md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon).items-icon,
md-list-item > md-icon:first-child:not(.md-avatar-icon).items-icon {
    width: 32px;
    height: 32px;
    margin-right: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.items-icon.green {
    color: #5bc43a;
}
.items-icon.red {
    color: #db1818;
}
.items-icon.gray {
    color: #cccccc;
}
.capitalize {
    text-transform: capitalize;
}
md-list-item > .md-avatar,
md-list-item .md-list-item-inner > .md-avatar {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 18px;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin: 0;
}
md-list .md-button.selected {
    color: #03a9f4;
}
md-list .time {
    text-align: end;
}
