<img ng-click="item.isSelected = true" ng-if="item.isSystemAvailability || item.isUserAvailability" ng-hide="day.selectedCount" ng-src="http://dummyimage.com/20x20/cccccc/000000.gif&text=A" class="md-avatar" alt="available">
<img ng-click="item.isSelected = true" ng-if="item.isAutoRebooking" ng-hide="day.selectedCount" ng-src="http://dummyimage.com/20x20/5bc43a/000000.gif&text=AR" class="md-avatar" alt="item.name">
<img ng-click="item.isSelected = true" ng-if="item.isOneOff" ng-hide="day.selectedCount" ng-src="http://dummyimage.com/20x20/db1818/000000.gif&text=OO" class="md-avatar" alt="item.name">
<img ng-click="item.isSelected = true" ng-if="item.isUserCancelled" ng-hide="day.selectedCount" ng-src="http://dummyimage.com/20x20/cccccc/000000.gif&text=UC" class="md-avatar" alt="{{'USER_CANCELLED' | translate}}">
<md-checkbox ng-show="day.selectedCount" ng-model="item.isSelected" aria-label="select item"></md-checkbox>
<p ng-bind="item.name" class="capitalize" ng-if="item.isLesson"></p>
<p translate class="capitalize" ng-if="item.isSystemAvailability">AVAILABLE</p>
<p translate class="capitalize" ng-if="item.isUserAvailability">AVAILABLE_BY_ME</p>
<p class="capitalize" ng-if="item.isUserCancelled">{{'UNAVAILABLE' | translate}} (reason)</p>
<p class="time" ng-bind="item.date | date : 'shortTime'"></p>
