<!doctype html>
<html lang="" ng-app="NetPlanningApp">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NetPlanning</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <style type="text/css">
    /**
    * Hide when Angular is not yet loaded and initialized
    */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body layout="row" ng-controller="AppCtrl as app" ng-cloak>
    <md-sidenav ng-if="app.DataService.isLoggedIn" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">

        <md-toolbar class="md-tall md-hue-2 md-whiteframe-z1">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <svg class="user-avatar" viewBox="0 0 128 128" height="64" width="64" pointer-events="none" display="block" style="border-radius: 99%;">
                    <path fill="#FF8A80" d="M0 0h128v128H0z"/>
                    <path fill="#FFE0B2" d="M36.3 94.8c6.4 7.3 16.2 12.1 27.3 12.4 10.7-.3 20.3-4.7 26.7-11.6l.2.1c-17-13.3-12.9-23.4-8.5-28.6 1.3-1.2 2.8-2.5 4.4-3.9l13.1-11c1.5-1.2 2.6-3 2.9-5.1.6-4.4-2.5-8.4-6.9-9.1-1.5-.2-3 0-4.3.6-.3-1.3-.4-2.7-1.6-3.5-1.4-.9-2.8-1.7-4.2-2.5-7.1-3.9-14.9-6.6-23-7.9-5.4-.9-11-1.2-16.1.7-3.3 1.2-6.1 3.2-8.7 5.6-1.3 1.2-2.5 2.4-3.7 3.7l-1.8 1.9c-.3.3-.5.6-.8.8-.1.1-.2 0-.4.2.1.2.1.5.1.6-1-.3-2.1-.4-3.2-.2-4.4.6-7.5 4.7-6.9 9.1.3 2.1 1.3 3.8 2.8 5.1l11 9.3c1.8 1.5 3.3 3.8 4.6 5.7 1.5 2.3 2.8 4.9 3.5 7.6 1.7 6.8-.8 13.4-5.4 18.4-.5.6-1.1 1-1.4 1.7-.2.6-.4 1.3-.6 2-.4 1.5-.5 3.1-.3 4.6.4 3.1 1.8 6.1 4.1 8.2 3.3 3 8 4 12.4 4.5 5.2.6 10.5.7 15.7.2 4.5-.4 9.1-1.2 13-3.4 5.6-3.1 9.6-8.9 10.5-15.2M76.4 46c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6-.1-.9.7-1.6 1.6-1.6zm-25.7 0c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6-.1-.9.7-1.6 1.6-1.6z"/>
                    <path fill="#E0F7FA" d="M105.3 106.1c-.9-1.3-1.3-1.9-1.3-1.9l-.2-.3c-.6-.9-1.2-1.7-1.9-2.4-3.2-3.5-7.3-5.4-11.4-5.7 0 0 .1 0 .1.1l-.2-.1c-6.4 6.9-16 11.3-26.7 11.6-11.2-.3-21.1-5.1-27.5-12.6-.1.2-.2.4-.2.5-3.1.9-6 2.7-8.4 5.4l-.2.2s-.5.6-1.5 1.7c-.9 1.1-2.2 2.6-3.7 4.5-3.1 3.9-7.2 9.5-11.7 16.6-.9 1.4-1.7 2.8-2.6 4.3h109.6c-3.4-7.1-6.5-12.8-8.9-16.9-1.5-2.2-2.6-3.8-3.3-5z"/> <circle fill="#444" cx="76.3" cy="47.5" r="2"/> <circle fill="#444" cx="50.7" cy="47.6" r="2"/> <path fill="#444" d="M48.1 27.4c4.5 5.9 15.5 12.1 42.4 8.4-2.2-6.9-6.8-12.6-12.6-16.4C95.1 20.9 92 10 92 10c-1.4 5.5-11.1 4.4-11.1 4.4H62.1c-1.7-.1-3.4 0-5.2.3-12.8 1.8-22.6 11.1-25.7 22.9 10.6-1.9 15.3-7.6 16.9-10.2z"/>
                </svg>
                <div layout="row" layout-align="space-between end">
                    <div>
                        <div class="name capitalize" ng-bind="app.$storage.profile.name"></div>
                        <div class="desc">NetPlanning Teacher</div>
                    </div>
                    <md-button ng-click="app.update()" ng-disabled="app.DataService.isLoading">
                        <md-icon md-svg-src="images/ic_cached_48px.svg" class="md-accent" ng-class="{ 'spin': app.DataService.isLoading }" aria-label="update" ></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>

        <md-list>
            <md-list-item md-ink-ripple href="#/Today" ng-click="app.toggleSidenav('left')">
                <md-icon md-svg-src="images/ic_today_48px.svg" class="md-primary" aria-label="today"></md-icon>
                <p class="capitalize" flex translate>TODAY</p>
                <span ng-bind="(app.$storage.items | filter : {isToday: true}).length"></span>
            </md-list-item>
            <md-list-item md-ink-ripple href="#/Tomorrow" ng-click="app.toggleSidenav('left')">
                <md-icon md-svg-src="images/ic_event_note_48px.svg" class="md-primary" aria-label="tomorrow"></md-icon>
                <p class="capitalize" flex translate>TOMORROW</p>
                <span ng-bind="(app.$storage.items | filter : {isTomorrow: true}).length"></span>
            </md-list-item>
            <md-list-item md-ink-ripple href="#/All" ng-click="app.toggleSidenav('left')">
                <md-icon md-svg-src="images/ic_view_week_48px.svg" class="md-primary" aria-label="all"></md-icon>
                <p class="capitalize" flex translate>ALL</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item md-ink-ripple href="#/New" ng-click="app.toggleSidenav('left')">
                <md-icon md-svg-src="images/ic_add_circle_outline_48px.svg" aria-label="new"></md-icon>
                <p class="capitalize" flex translate>NEW</p>
                <span ng-bind="(app.$storage.changes | itemsAdded).length"></span>
            </md-list-item>
            <md-list-item md-ink-ripple href="#/Cancelled" ng-click="app.toggleSidenav('left')">
                <md-icon md-svg-src="images/ic_remove_circle_outline_48px.svg" aria-label="cancelled"></md-icon>
                <p class="capitalize" flex translate>CANCELLED</p>
                <span ng-bind="(app.$storage.changes | itemsCancelled).length"></span>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item md-ink-ripple href="#/Settings" ng-click="app.toggleSidenav('left')">
                <md-icon md-svg-src="images/ic_settings_48px.svg" aria-label="settings"></md-icon>
                <p class="capitalize" flex translate>SETTINGS</p>
            </md-list-item>
        </md-list>
        <span flex></span>
        <div class="md-padding last-updated">
            <span ng-if="!app.DataService.isLoading" translate>LAST_CHECK</span>
            <span ng-if="!app.DataService.isLoading && +app.$storage.lastUpdate" am-time-ago="app.$storage.lastUpdate"></span>
            <span ng-if="!app.DataService.isLoading && !+app.$storage.lastUpdate" translate>NEVER</span>
            <span ng-if="app.DataService.isLoading" translate>UPDATING</span>
        </div>
        <div layout="row">
            <md-button flex class="md-raised md-warn" ng-click="app.logout()">
                <md-icon md-svg-src="images/ic_exit_to_app_48px.svg" aria-label="logout"></md-icon>
                {{'LOGOUT' | translate}}
            </md-button>
        </div>
    </md-sidenav>

    <div flex layout-fill layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-cloak ng-view></div>

	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-4449995-11', 'auto');
    </script>

	<script src="winstore-jscompat.js"></script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/bower_components/cryptojslib/rollups/hmac-md5.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="/bower_components/waypoints/lib/noframework.waypoints.min.js"></script>
    <script src="/bower_components/SHA-1/sha1.js"></script>
    <script src="/bower_components/angulartics/src/angulartics.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-clicky.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-cnzz.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-gtm.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-piwik.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-scroll.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-splunk.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-woopra.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-marketo.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-intercom.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-inspectlet.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-newrelic-insights.js"></script>
    <script src="/bower_components/angulartics-google-analytics/lib/angulartics-google-analytics.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>

    <!-- build:js scripts/main.js -->
	<script src="scripts/main.js"></script>
    <script src="scripts/settings.js"></script>
    <script src="scripts/controllers/app.js"></script>
    <script src="scripts/controllers/day.js"></script>
    <script src="scripts/controllers/changes.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/providers/data-service.js"></script>
    <script src="scripts/filters/show-only-lessons.js"></script>
    <script src="scripts/filters/items-in-the-morning.js"></script>
    <script src="scripts/filters/items-in-the-afternoon.js"></script>
    <script src="scripts/filters/items-added.js"></script>
    <script src="scripts/filters/items-cancelled.js"></script>
    <script src="scripts/directives/netplanning-item.js"></script>
    <!-- endbuild -->
    </body>
</html>
