<md-toolbar class="md-whiteframe-z1">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" hide-gt-sm ng-click="app.toggleSidenav('left')" aria-label="Show or Hide menu">
			<md-icon md-svg-src="images/ic_menu_48px.svg" aria-label="menu"></md-icon>
		</md-button>
		<h2><span class="capitalize" translate>ABOUT</span></h2>
	</div>
</md-toolbar>
<md-content flex layout="row" layout-align="center center" class="about-background">
	<md-card flex-sm="100" flex-gt-sm="50" flex-gt-md="30" flex-gt-lg="30">
		<img ng-src="images/login-background.png" class="md-card-image" style="background: linear-gradient(#0143A3,#0273D4);">
		<md-card-content>
			<h2 class="md-title">NetPlanning Teacher v. 1.0</h2>
			<p translate>ABOUTE_LINE_1</p>
			<p translate>ABOUTE_LINE_2</p>
			<p translate>ABOUTE_LINE_3</p>
			<p translate>ABOUTE_LINE_4</p>
		</md-card-content>
	</md-card>
</md-content>
