<md-toolbar class="md-whiteframe-z1" ng-class="{ 'md-accent': day.selectedCount }">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" hide-gt-sm ng-click="app.toggleSidenav('left')" aria-label="Show or Hide menu" ng-if="!day.selectedCount">
			<md-icon md-svg-src="images/ic_menu_48px.svg" aria-label="menu"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Cancel edit mode" ng-click="app.cancelSelection()" ng-if="day.selectedCount">
			<md-icon md-svg-src="images/ic_arrow_back_48px.svg" aria-label="cancel"></md-icon>
		</md-button>
		<h2 ng-if="!day.selectedCount"><span class="capitalize" translate>ALL</span></h2>
		<h2 ng-if="day.selectedCount"><span ng-bind="day.selectedCount"></span> <span translate>SELECTED</span></h2>
		<span flex></span>
		<md-switch ng-model="app.showOnlyLessons" aria-label="Show only lessons" ng-if="!day.selectedCount"></md-switch>
		<md-button class="md-icon-button" aria-label="Cancel items" ng-if="day.selectedCount" ng-click="app.cancelLessons()">
			<md-icon md-svg-src="images/ic_delete_48px.svg" aria-label="delete"></md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-class="{ 'hidden': !app.DataService.isLoading }"></md-progress-linear>
<md-content ng-if="!app.DataService.items.length">
	<p class="md-padding capitalize" translate>NO_ITEMS</p>
</md-content>
<md-content ng-if="app.DataService.items.length">
	<section ng-repeat="(dayOfYear, dayItems) in app.DataService.items | groupBy : 'dayOfYear'">
		<md-subheader class="capitalize md-primary">{{dayItems[0].date | date : 'fullDate'}}</md-subheader>
		<md-list>
			<md-list-item ng-repeat="item in dayItems | showOnlyLessons : app.showOnlyLessons" ng-include="'partials/item.html'"></md-list-item>
		</md-list>
	</section>
</md-content>
