<md-toolbar class="md-whiteframe-z1" ng-class="{ 'md-accent': day.selectedCount }">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" hide-gt-sm ng-click="app.toggleSidenav('left')" aria-label="Show or Hide menu" ng-if="!day.selectedCount">
			<md-icon md-svg-src="images/ic_menu_48px.svg" aria-label="menu"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Cancel edit mode" ng-click="day.cancelSelection()" ng-if="day.selectedCount">
			<md-icon md-svg-src="images/ic_arrow_back_48px.svg" aria-label="cancel"></md-icon>
		</md-button>
		<h2 ng-if="!day.selectedCount"><span class="capitalize" translate>TODAY</span></h2>
		<h2 ng-if="day.selectedCount"><span ng-bind="day.selectedCount"></span> <span translate>SELECTED</span></h2>
		<span flex></span>
		<md-switch ng-model="app.showOnlyLessons" aria-label="Show only lessons" ng-if="!day.selectedCount"></md-switch>
		<md-button class="md-icon-button" aria-label="Cancel items" ng-if="day.selectedCount" ng-click="day.cancelLessons()">
			<md-icon md-svg-src="images/ic_delete_48px.svg" aria-label="delete"></md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-class="{ 'hidden': !app.DataService.isLoading }"></md-progress-linear>
<md-content ng-if="!(app.$storage.items | filter : {isToday: true}).length">
	<p class="md-padding capitalize" translate>NO_ITEMS</p>
</md-content>
<md-content ng-if="(dayItems = (app.$storage.items | filter : {isToday: true})).length">
	<section ng-if="(morningItems = (dayItems | itemsInTheMorning)).length">
		<md-subheader class="capitalize md-primary">{{'MORNING' | translate}}</md-subheader>
		<md-list>
			<netplanning-item src="partials/item.html" ng-repeat="item in morningItems | showOnlyLessons : app.showOnlyLessons track by item._id"></netplanning-item>
		</md-list>
	</section>
	<section ng-if="(afternoonItems = (dayItems | itemsInTheAfternoon)).length">
		<md-subheader class="capitalize md-primary">{{'AFTERNOON' | translate}}</md-subheader>
		<md-list>
			<netplanning-item src="partials/item.html" ng-repeat="item in afternoonItems | showOnlyLessons : app.showOnlyLessons track by item._id"></netplanning-item>
		</md-list>
	</section>
</md-content>
